@import './reset';

// SCSS Variables
$geistsans: var(--font-geist-sans);
$geistmono: var(--font-geist-mono);

$noise: url(/images/noise.png);
$background-light: #f5f4f2;
$background-accent-light: lighten($background-light, 20%);
$foreground-light: #20202C;
$dots-light: darken($background-light, 6%);
$muted-light: rgba($foreground-light, 0.6);
$accent-light: #ea3f8b;

$background-dark: #20222b;
$background-accent-dark: darken($background-dark, 6%);
$dots-dark: lighten($background-dark, 3%);
$foreground-dark: #ffffff;
$muted-dark: rgba($foreground-dark, 0.5);
$accent-dark: #ea3f8b;

// Font Stacks
$font-stack: ui-sans-serif,
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Helvetica Neue,
  Arial,
  Noto Sans,
  sans-serif,
  Apple Color Emoji,
  Segoe UI Emoji,
  Segoe UI Symbol,
  Noto Color Emoji;

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 667px) {
    @content;
  }
}

@mixin gradient-mask-background($inclination: 5deg, $start-color: transparent, $start: 25%, $stop-color: #FFF, $stop: 90%) {
  background: linear-gradient($inclination, $start-color $start, $stop-color $stop);
  -webkit-mask: $noise, linear-gradient($inclination, transparent $start, #000 ($stop + 15%));
  mask: $noise, linear-gradient($inclination, transparent $start, #000 ($stop + 15%));
}

@mixin dithered-gradient($position, $start, $stop, $color) {
  background: radial-gradient(circle at $position, transparent $start, $color $stop);
  -webkit-mask: $noise, radial-gradient(circle at $position, transparent $start, #000 ($stop + 15%));
  mask: $noise, radial-gradient(circle at $position, transparent $start, #000 ($stop + 15%));
}


:root {
  --background: #{$background-light};
  --background-gradient: linear-gradient(3deg, #{$background-light} 20%, transparent 80%);
  --dots: #{$dots-light};
  --background-accent: #{$background-accent-light};
  --text: #{$foreground-light};
  --text-secondary: #{$muted-light};
  --link: #{$accent-light};
  --logo: #{darken(desaturate($background-light, 5%), 75%)};
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$background-dark};
    --background-gradient: linear-gradient(3deg, #{$background-dark} 20%, transparent 80%);
    --dots: #{$dots-dark};
    --background-accent: #{$background-accent-dark};
    --text: #{$foreground-dark};
    --text-secondary: #{$muted-dark};
    --link: #{$accent-dark};
    --logo: #{lighten(desaturate($background-dark, 5%), 80%)};
  }
}

html {
  background: var(--background);
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: $font-stack;
  height: auto;
  line-height: 1.5;
  min-height: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  &::after {
    @include gradient-mask-background($stop-color: var(--background-accent));
  }
}

time,
.mono {
  font-family: $geistmono, ui-monospace,
  SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  Liberation Mono,
  Courier New,
  monospace;
}

a { 
  color: var(--link);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#page-content {
  position: relative;
  z-index: 1;
  width: 90%;
  max-width: 840px;
  margin: 0 auto;
  box-sizing: border-box;
}

#header {
  overflow: hidden;
  margin: 0 0 40px;
  padding-top: 100px;
  h1 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.2px;
    float: left;
    a {
      color: var(--logo);
    }
    a:hover {
      text-decoration: none;
    }
    svg {
      display: inline-block;
      margin-right: 12px;
      vertical-align: middle;
    }
    path {
      stroke: var(--logo);
      // fill: var(--logo);
    }
    span {
      opacity: 1;
      transition: cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.16s;
    }
  }
  ul {
    float: right;
    li {  
      display: inline-block;
      margin-left: 24px;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: var(--text);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.2px;
      }
    }
  }
}

#footer {
  margin-top: 140px;
  padding: 0 0 40px;
  color: var(--text-secondary);
  i {
    display: block;
    opacity: 0.4;
    margin-bottom: 16px;
  }
  div {
    display: flex;
    p {
      flex: 1 1 auto;
    }
    span {
      flex: 0 0 auto;
    }
  }
  a {
    color: var(--text);
  }
}

.section-title {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: $geistsans;
  font-weight: 500;
  color: var(--text-secondary);
}

.hide {
  display: none;
}
// Home
.home-headline {
  h2 {
    font-family: $font-stack;
    width: 100%;
    max-width: 520px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    color: var(--text-secondary);
    span {
      font-family: $geistsans;
      color: var(--text);
      font-weight: 600;    
    }
  }
}

.home-posts {
  margin: 140px -12px 0;
  padding: 0 12px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    margin-top: 16px;
    li {
      margin-top: 8px;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        line-height: 20px;
        svg {
          flex: 0 0 auto;
          margin-right: 8px;
        }
        strong {
          font-weight: 600;
          color: var(--text);
          flex: 0 0 auto;
        }
        i {
          flex: 1 1 auto;
          margin: 0 16px;
          border-top: 1px dashed var(--text-secondary);
          opacity: 0.4;
        }
        time {
          flex: 0 0 auto;
          color: var(--text-secondary);
          font-size: 14px;
          letter-spacing: -0.5px;
        }
      }
      a:hover {
        text-decoration: none;
        strong {
          text-decoration: underline;
        }
      }
    }
  }
  p {
    margin-top: 16px;
    font-size: 14px;
  }
  h3 {
    margin-top: 60px;
    font-family: $geistsans;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: var(--text);
  }
}

.home-post-header {
  text-align: right;
  h2 {
    float: left;
    text-align: left;
  }
}

.home-projects {
  margin-top: 140px;
  column-count: 2;
  column-gap: 40px;
  section {
    break-after: column;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 16px;
    margin-top: 8px;
    li {
      line-height: 20px;
      margin-top: -2px;
      a {
        display: flex;
        gap: 16px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
        margin-left: -12px;
        border-radius: 12px;
        color: var(--text-secondary);
        i {
          flex: 0 0 auto;
          background-color: var(--background-accent);
          border-radius: 8px;
          width: 40px;
          height: 40px;
          overflow: hidden;
          text-align: center;
          svg {
            margin: 8px;
          }
          path {
            // stroke: var(--text);
            fill: var(--text);

          }
        }
        time {
          flex: 0 0 auto;
          font-size: 14px;
        }
        span {
          flex: 1 1 auto;
          strong {
            display: block;
            color: var(--text);
          }
          span {
            display: flex;
            em {
              flex: 1 1 auto;
              font-style: normal;
            }
            time {
              flex: 0 0 auto;
            }
          }
        }
      }
      a:hover {
        text-decoration: none;
        background-color: var(--background-accent);
      }
    }
  }
  p.show {
    margin-top: 12px;
  }
  input[type='checkbox'] {
    display: none;
  }
  label {
    color: var(--link);
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  &:has(input:checked) .hide {
    display: block;
  }
  &:has(input:checked) .show {
    display: none;
  }
}

.photo-gallery {
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  &::after {
    content: '';
    flex-grow: 999999999;
  }
  div {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-color: var(--dots);
    &:last-child {
      width: 100%!important;
    }
  }
  i {
    display: block;
  }
  img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    &.loaded {
      opacity: 1;
      visibility: visible;
    }
  }
}

.photo-highlight {
  width: 104%;
  margin: -8px -2% 0;
  img {
    width: 100%;
    border-radius: 4px;
    background-color: var(--dots);
  }
}

.post-item {
  margin-top:40px;
  hr {
    border: none;
    display: block;
    border-top: 1px dashed var(--text-secondary);
    opacity: 0.4; 
    margin: 120px auto;
    width: 100%;
    max-width: 840px;
  }
}

.post {
  margin-top: 140px;
  h2 {
    margin: 0 0 8px;
    font-family: $geistsans;
    font-size: 36px;
    line-height: 1.3;
    font-weight: 600;
    a {
      color: var(--text);
    }
  }
  &-meta {
    margin: 0 0 32px;
    text-transform: capitalize;
    font-size: 14px;
    color: var(--text);
    line-height: 1;
    * {
      margin-right: 8px;
      display: inline-block;
      flex: none;
      width: auto;
      vertical-align: bottom;
    }
  }
  &-content {
    margin: 16px auto;
    font-size: 16px;
    line-height: 26px;
    p {
      margin-top: 16px;
    }
    .photo-gallery {
      margin-top: 120px;
    }
    img {
      border-radius: 4px;
    }
    video {
      border-radius: 4px;
      margin-top: 20px;
    }
  }
  ul {
    margin: 16px 0;
  }
  .video-embed {
    margin: 24px 0;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    border-radius: 4px;
    .video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &-photometa {
    margin: 20px 0 40px;
    font-size: 14px;
    color: var(--text-secondary);
    line-height: 1.5;
    letter-spacing: -0.2px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      .post-geo {
        margin-top: 8px;
      }
      .post-colors {
        float: right;
        border-radius: 3px;
        overflow: hidden;
        height: 16px;
        margin-top: 2px;;
        span {
          display: inline-block;
          width: 16px;
          height: 20px;
        }
      }
    }
  }
  footer {
    margin: 32px 0;
    font-size: 14px;
    color: var(--text-secondary);
  }
}

.pagination {
  a {
    margin-right: 8px;
  }
}

@include tablet {
  #page-content {
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
  }
  
  #header {
    margin: 0 0 100px;
    padding-top: 32px;
  }
  
  .home-projects {
    column-count: 1;
    
    section {
      break-after: auto;
    }
    
    .section-title {
      margin-top: 60px;
    }
  }
}

@include mobile {
  #page-content {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }
  
  .home-posts {
    ul {
      li {
        a {
          align-items: center;
          flex-wrap: wrap;
          justify-content: start;
          
          strong {
            display: block;
            max-width: 75%;
          }
          
          time {
            flex: none;
            display: block;
            width: 100%;
            padding-left: 24px;
          }
        }
      }
    }
  }
  
  .post {
    h2 {
      font-size: 28px;
    }
  }
  .photo-highlight {
    width: 100%;
    margin: 16px 0 0;
  }
}

.nextjs-toast {
bottom: 100px!important;
  left: 20px;
  
}